<h2 class="todo_list_title" style="margin:0 0 0.3em 0">Editer la liste de tâches</h2>

<div class="forms">
<%= render 'form' %>
</div>
<div class="links">
<%= link_to 'Annuler', todo_lists_path %>
</div>